/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 7, 2019, 7:10:54 PM
    Author     : TURAL
*/

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  /*background-color: inherit;*/
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  color: #a9a9a9;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #E4E4E4;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #E4E4E4;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /*padding: 6px 12px;*/
  /*border: 1px solid #ccc;*/
  /*border-top: none;*/
}


/*ul {*/
  /*list-style-type: none;*/
  /*list-style: none; !* Remove list bullets *!*/

  /*margin: 0;*/
  /*padding: 0;*/
/*}*/



/*ul {*/
  /*list-style-type: none;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*overflow: hidden;*/
  /*background-color: #E4E4E4;*/
/*}*/

/*li {*/
  /*float: left;*/
/*}*/

/*li a {*/
  /*display: block;*/
  /*color: #E4E4E4;*/
  /*text-align: center;*/
  /*padding: 14px 16px;*/
  /*text-decoration: none;*/
/*}*/

/*li a:hover {*/
  /*background-color: #E4E4E4;*/
/*}*/